$font: 'Red Hat Text', sans-serif;

// colors
$white: #ffffff;
$black: #333333;
$gray: #f2f2f2;
$gray2: #f1f0ff;
$gray5: rgba(51, 51, 51, 0.5);
$green: #95d354;
$violet: #6b5cf6;
$violetLight: #9177f5;
$violetDark: #603dbb;
$blue: #50c4ee;
$darkBlue: #5c4ceb;
$rose: #ee71c7;
$red: #dd514c;
