.title {
  font-size: 5.6rem;
  font-weight: bold;
  line-height: 1.14;
  color: $black;
}

.subtitle {
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  color: $black;
}

.heading {
  font-size: 2.2rem;
  color: $black;
  line-height: 1.45;
}

.h3 {
  font-size: 2.4rem;
  font-weight: bold;
  color: $black;
  line-height: 1.33;
}
